In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# 데이터 로드
train_df = pd.read_csv("./data/train.csv")
test_df = pd.read_csv("./data/test.csv")

In [ ]:
# 분석 및 모델에 불필요한 컬럼 제거
drop_cols = ["Name", "Ticket", "Cabin"]
train_df.drop(columns=drop_cols, inplace=True)
test_df.drop(columns=drop_cols, inplace=True)

In [ ]:
# Age: 중간값으로 채움
train_df["Age"] = train_df["Age"].fillna(train_df["Age"].median())
test_df["Age"] = test_df["Age"].fillna(test_df["Age"].median())

# Fare: test 셋에서만 결측 → 중간값
test_df["Fare"] = test_df["Fare"].fillna(test_df["Fare"].median())

# Embarked: 최빈값으로 채움
train_df["Embarked"] = train_df["Embarked"].fillna(train_df["Embarked"].mode()[0])
test_df["Embarked"] = test_df["Embarked"].fillna(test_df["Embarked"].mode()[0])

In [ ]:
# Sex, Embarked는 라벨 인코딩 (0, 1, 2 등으로 매핑)
for col in ["Sex", "Embarked"]:
    le = LabelEncoder()
    train_df[col] = le.fit_transform(train_df[col])
    test_df[col] = le.transform(test_df[col])

In [ ]:
# 타겟 변수
target = "Survived"

# 피처 목록
features = [col for col in train_df.columns if col not in [target, "PassengerId"]]

# 학습/예측용 데이터셋
X_train = train_df[features]
y_train = train_df[target]
X_test = test_df[features]

# 확인
X_train.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [ ]:
# 추후 모델에서 바로 불러쓸 수 있게 저장 (optional)
X_train.to_csv("./data/X_train.csv", index=False)
y_train.to_csv("./data/y_train.csv", index=False)
X_test.to_csv("./data/X_test.csv", index=False)